@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --top-bar-background-color: #14213d;
    --top-bar-foreground-color: #ffffff;
    --accent-background-color: #fca311;
    --accent-foreground-color: #000000;
    --tag-background-color: #fdb645;
    --tag-border-color: #fc8e11;
    --tag-foreground-color: #000000;
    --background-color: #e5e5e5;
    --foreground-color: #000000;
    --top-bar-team-name-font-family: 'Inter', sans-serif;
    --top-bar-team-description-font-family: 'Inter', sans-serif;
    --top-bar-team-name-font-weight: 700;
    --top-bar-team-description-font-weight: 400;
    --accent-font-family: 'Inter', sans-serif;
    --font-family: 'Inter', sans-serif;
    --accent-background-color-filter: invert(71%) sepia(63%) saturate(2375%)
        hue-rotate(351deg) brightness(101%) contrast(98%);
}
